@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
}

* a {
  text-decoration: none;
}

/* Main Content */
html, body {
  width: 100%;
  height: 100%;
}

.bodyWrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows:1fr auto;
  grid-template-columns: 100%;
}

.contentWrapper {
  width: 960px;
  margin: 50px auto;
}

.contentWrapper h1 {
  font-size: 3em;
  margin-bottom: 10px;
  font-weight: lighter;
}

.contentWrapper h1 span {
  font-weight: 500;
}

.contentWrapper p {
  margin: 30px 0;
}

/* Add new book form */
.newBookForm {
  width: 100%;
  margin: 30px 0;
  background-color: #f7f7f7;
  padding: 20px 40px 35px 40px;
  display: grid;
  grid-template-columns: 40% 25% 6% 10% 13%;
  grid-gap: 1%;
  align-items: center;
  justify-content: space-between;
}

.newBookForm label {
  display: block;
  font-size: .8em;
  font-weight: bolder;
  margin-bottom: 5px;
}

.newBookForm input, .newBookForm select {
  padding: 10px 5px;
  width: 100%;
}

.submit {
  margin-top: 17px;
  padding: 12px 0 !important;
  color: #FFF;
  border: none;
  background-color: #305a85;
  cursor: pointer;
}

/* Booklist Display */
.bookList, .bookListTitles {
  display: grid;
  width: 100%;
}

.bookList ul, .bookListTitles ul {
  display: grid;
  grid-template-columns: 40% 22% 10% 16% 8%;
  grid-column-gap: 1%;
  align-items: center;
}

.bookListTitles ul {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 20px 0;
}

.bookList ul {
  border-top: solid 1px #ebebeb;
  padding: 10px 0;
}

.delete, .updateRead {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.updateRead {
  background: #fae8e0;
}

.updateRead:hover {
  background: #eedbd3;
}

.unread {
  background: #b6e2d3;
}

.unread:hover {
  background: #a5d1c2;
}

.delete {
  background: #ef7c8e;
}

.delete:hover {
  background: #e27484;
}


/* Footer Styling */
.footer {
  display: flex;
  padding: 20px 40px;
  background: #2a3030;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.footer p {
  width: 100%;
  font-size: .9em;
  color: #ececec;
}

.footer p a {
  font-weight: bold;
  color: #FFF; 
}

.gitHub {
  background: rgb(30, 32, 32);
  border: solid 2px rgb(30, 32, 32);
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 20px;
}

.gitHub:hover {
  background: rgb(22, 22, 22);
  border:solid 2px #000;
  transition: .5s;
}

